.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#A303A6;
    height: 200px;
}

.footerFlex{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
  
}

.footerFlexIcons{
    padding:20px;

}

.footerLogo{
    height: 200px;
    width: 200px;
}

.footerLink{
    color: var(--white);
}

.footerH2{
    color: var(--white);
    padding-left: 50px;
}

.footerIcon{
    width: 80px;
    height: 80px;
    padding: 10px;
    margin: 0 auto;
}

.footerH3{
    color: var(--white);
    margin-right: 100px;
    padding-left: 50px;
}

.footerBorder{
    border-left: 1px solid var(--white);
    height: 100px;
}

